.loop {
    display: flex;
    flex-direction: column;
    background: rgba(0, 0, 0, 0.11);
    align-items: flex-start;
    padding: 30px;
}
.conteudo {
    margin-left: 30px;
}
.testeDeMesa {
    display: flex;
}
.table {
    background: rgba(0, 139, 139, 0.37);
    padding: 40px;
}
.description {
    font-size: 15px;
}
.mesa {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.inputs {
    background: rgba(0, 0, 0, 0.11);
    outline: none;
    border: 0;
    border-bottom: 1px solid red;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    color: white;

    transition: .3s;
}

.inputs:focus {
    border-bottom: 1px solid darkorange;
}

.inputsCerto {
    background: rgba(0, 0, 0, 0.11);
    outline: none;
    border: 0;
    border-bottom: 1px solid greenyellow;
    margin-left: 5px;
    padding: 5px;
    text-align: center;
    color: white;

    transition: .3s;
}
.submit {
    color: white;
    background: rgba(0, 0, 0, 0.377);
    border: 1px solid white;
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    outline: none;

    transition: .3s;
}

.submit:hover {
    background: black;
    color: white;
    border: 1.2px solid white;
}
button {
    cursor: pointer;
}
